@media all and (min-width: 1171px) {
}

/*TABLETY ITP.*/

@media all and (min-width: 992px) and (max-width: 1171px) {
    .background-photo {
        background-image: url(../images/man-2.jpg);
        height: 70vh;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
    }

    .text-container {
        position: absolute;
        font-weight: 600;
        top: 10vh;
        right: 5vh;
        margin-right: 5vh;
        
    }

    
    .small-font {
        font-size: 3vh;
    }

    .big-font {
        font-size: 4vh;
    }
    
}

/*SMARTFONY*/

@media all and (max-width: 991px) {

    .background-photo {
        background-image: url(../images/man-1.jpg);
        height: 50vh;
        width: 100%;
        margin-top: 0;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
    }
    
    .text-container {
        position: relative;
        color: black;
        font-weight: 600;
        height: 40vh;
        top: 10vh;

        text-align: center;
    }
    
    .background-photo p {
/*
    font-weight: 600;
    position: absolute;
    top: 100%;
    color: black;
    width: 100%;
    left: 0;
    text-align: center;
*/
        
    position: absolute;
    margin: 0;
    top: 50vh;
    text-align: center;
    width: 100%;
    height: auto;   
}
    
    
    .small-font {
        font-size: 2vh;
    }

    .big-font {
        font-size: 3vh;
        line-height: 10vh;
    }
}
